<ion-view view-title="G2 Forest">
  <ion-content ng-controller="PreCorteListaCtrl">
      <div class="im-wrapper">
        <table styled="margin-bottom:5% !important">
          <thead>
            <tr>
              <td>Fazenda</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="acessoTalhoes(faz)" ng-repeat="(key,faz) in fazendas track by $index">
              <td style="width: 20% !important;">{{faz.fazenda}}</td>
            </tr>
          </tbody>
        </table>        
      </div>
  </ion-content>
</ion-view>